body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-image: url('/static/img/fondo.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.alerta-correo,
.alerta-password {
    background-color: #ffcccc;
    color: #cc0000;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #cc0000;
    border-radius: 8px;
}

.btn {
    width: 100%;
    background-color: #3f0086;
    color: white;
    margin-bottom: 1rem;
}

.btn:hover {
    background-color: #220049;
}

a {
    color: #3f0086;
    text-decoration: none;
}

a:hover {
    text-decoration: none !important;
}
